{% extends 'blocks/base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "kanban/jkanban.min.css" %}">
{% endblock %}

{% block content %}
<style media="screen">
  .editable-field:hover {
    background-color: #F9F9F9;

  }
  .editable-icon:hover {
    cursor: pointer;
  }
  .editable-icon {
    visibility: hidden;
  }

  .editable-field:hover .editable-icon {
    visibility: visible;
  }

</style>

<div class="editable-field">
    <p>
      <strong>field-title</strong>
      <span class="icon editable-icon" @click="enableEditing">
        <i class="fa fa-pencil ">
        </i>
      </span>
    </p>

    <div v-if="!editing" class="content">
      UWUCONTENT
    </div>

    <input v-if="editing" class="input" type="text" placeholder="Text input" v-on:keyup.enter="saveEdit" v-on:keyup.esc="disableEditing">
      {{text}}
    </input>
    <p v-if="editing" class="has-text-right is-size-7">
        Enter to save | ESC to cancel
    </p>
</div>
<div id="starting">
  <button-counter></button-counter>

</div>


{% endblock %}

{% block extra_javascript %}

{% endblock %}
