{% extends 'bulma/base.html' %}

{% load staticfiles %}
{% load bulma_tags %}
{% load user_tags %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static "bulma/bulma_divider.css" %}">
  <style media="screen">
    #myKanban {
      overflow-x: auto;
      width: 100%;
    }
  </style>
{% endblock %}

{% block header %}

<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="{% static "images/logo-eirteam-small.png" %}" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        {% if project %}
          <a class="navbar-link" href="{% url 'project_summary' project.slug %}">
            Project: {{ project.name }}
          </a>
        {% else %}
          <a class="navbar-link" href="{% url 'project_list' %}">
            Projects
          </a>
        {% endif %}
        <div class="navbar-dropdown is-boxed">
          {% if user.is_authenticated %}
            {% for owned_project in user.owned_projects.all %}
            <a class="navbar-item" href="{% url 'project_summary' owned_project.slug %}">
              {{ owned_project.name }}
            </a>
            {% endfor %}
          {% endif %}
          <hr/>
          <a class="navbar-item" href="{% url 'create_project' %}">
            Create new project
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">

    </div>
  </div>
</nav>
{% if project %}

{% endif %}
{% endblock %}

{% block footer %}
{% endblock %}
{% block javascript %}
  <script src="{% static 'jquery/dist/jquery.min.js' %}" charset="utf-8"></script>
  <script src="{% static "scripts/jquery.rest.js" %}"></script>
  <script src="{% static 'scripts/global.js' %}" charset="utf-8"></script>
<script type="text/javascript">
  $("#showModal").click(function() {
  $(".modal").addClass("is-active");
  });

  $(".delete").click(function() {
   $(".modal").removeClass("is-active");
  });
  $("#cancel-button").click(function() {
   $(".modal").removeClass("is-active");
  });
</script>
{% block extra_javascript %}

{% endblock extra_javascript %}
{% endblock javascript %}
