{% extends 'views/project_base.html' %}
{% load staticfiles %}
{% load user_tags %}

{% block project_css %}
<link rel="stylesheet" href="{% static "kanban/jkanban.min.css" %}">
<style>
  .header-pending {
    background-color: #AAAAAA;
    color: #FFF;
  }
  .header-in-progress {
    background-color: #2780E3;
    color: #FFF;
  }
  .header-testing {
    background-color: #E9262B;
    color: #FFF;
  }
  .header-completed {
    background-color: #3FB618;
    color: #FFF;
  }
  .task-list {
    overflow-x: auto;
  }
</style>

{% endblock %}

{%  block project_content %}
<div class="column">
  <div class="container" style="padding-right: 1.0%;">
  <div class="tile is-ancestor">
    <div class="tile is-3 is-vertical is-parent">
      <div class="tile is-child box has-text-centered">
        <img src="{% static "images/logo-small.png" %}">
        <p class="title">
          {{project.name}}
        </p>
        <p class="subtitle">
          {{project.description}}
        </p>
        <p>
          Owned by {{ project.owner|format_username }}
        </p>
        <div class="is-divider"></div>
        {{project.info}}
      </div>
    </div>
    <div class="tile  is-parent is-vertical">
      <div class="tile is-child box">
        <progress class="progress is-success" value="{{project.get_project_completion}}" max="1.0">60%</progress>
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Total Tasks</p>
              <p class="title">{{project.tasks.count}}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Pending Tasks</p>
              <p class="title">{{project.get_pending_tasks.count}}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Closed Tasks</p>
              <p class="title">{{project.get_closed_tasks.count}}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Estimated {P}</p>
              <p class="title">{{project.get_estimated_cost|format_cost:project}}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Logged {P}</p>
              <p class="title">{{project.get_final_cost|format_cost:project}}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Remaining {P}</p>
              <p class="title">{{project.get_remaining_cost|format_cost:project}}</p>
            </div>
          </div>
        </nav>
      </div>
      <div class="tile is-child">
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <div class="tile is-child box">
              <p class="title"><span class="icon is-small"><i class="fa fa-user"></i></span> Members</p>
              <div class="is-divider"></div>
                {% for user_data in project.project_users_data.all %}
                <div class="columns">
                  <div class="column is-1">
                    <img src="{% static "images/noavatar.png.jpg" %}" alt="">
                  </div>
                  <div class="column">
                    <div>{{ user_data.user|format_username }}</div>
                    {% if project.owner == user_data.user %}
                    <span class="icon is-small"><i class="fa fa-suitcase"></i></span> Owner
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
