{% extends 'views/project_base.html' %}
{% load staticfiles %}
{% load compress %}
{% load user_tags %}

{% block project_css %}
<link rel="stylesheet" href="{% static 'jqTree/jqtree.css' %}">
<link rel="stylesheet" href="{% static 'simplemde/dist/simplemde.min.css' %}">
<link rel="stylesheet" href="{% static 'dragula.js/dist/dragula.min.css' %}">
<style media="screen">

.drag-container {
  width: 400px;
  margin: 0 auto;
}

.nested {
  border: dashed 1px;
}

.item {
  padding: 8px;
}



.CodeMirror {
height: 300px;

}
details {
  margin-top: 1rem;
}

</style>

<style media="screen">

  .vddl-list, .vddl-draggable {
    margin: 0;
    cursor: move;
  }
  .deploy-icon {
    cursor: pointer;
  }
  details {
    margin:0;
  }
  .item-box {
    border-radius: 0;
    left: 10px;
    margin-bottom: 0;
    box-shadow: none;
    border: none;
    background-color: #FFF;
  }

  .box:hover {
    background-color: #F3F3F3;
  }
  .box-selected {
    border: solid 1px #888;
  }
  .children-list {
    position: relative;
    margin-top: 0;
    margin-left: 50px;
    min-height: 10px;
}
.childless-list {
  min-height: 10px;
}
.vddl-dragging{
  opacity: 0.7;
}

.vddl-dragging-source {
  display: none;
}

.top-level-item {
  margin-right: 0.25rem;
  padding: 0;
}
</style>
{% endblock %}

{%  block project_content %}
<div class="tile" id="design-editor-app">
  <div  class="tile is-vertical" v-if="nodes.constructor === Array">
    <vddl-list :inserted="on_inserted" :list="nodes" :horizontal=false>

      <div class="top-level-item" v-for="(node, index) in nodes">
          <TreeItem :callback="item_selected" :key="node.id" :node="node" v-bind:selected_node="editing_object" :nodes="nodes" :index="index"></TreeItem>
      </div>
    </vddl-list>

  </div>
  <div v-if="viewing_node" class="tile is-vertical" id="element-viewer">
    <tabs>
      <tab name="Info" :selected="true">
        <div id="design-element-toolbar" class="level">
            <div class="level-item">
              <EditableInput :editor="'text'" :resource_type="resource_type"  :field_name="'name'" :field_display_name="'Name'"
                               v-bind:editing_object="editing_object" :key="'name'"  >
              </EditableInput>
            </div>
            <div class="level-item">
              <EditableInput :editor="'select'" :options="project.element_types" :resource_type="resource_type"  :field_name="'element_type'" :field_display_name="'Element Type'"
                               v-bind:editing_object="editing_object" :key="'name'"  >
              </EditableInput>
            </div>
        </div>

        <div class="content" id="display-description">
          <EditableInput :resource_type="resource_type"  :field_name="'description'" :field_display_name="'Description'"
                           v-bind:editing_object="editing_object" v-bind:editor="'markdown'" :key="'description'"  >
          </EditableInput>
        </div>
      </tab>
      <tab name="Tasks">
        <Task v-for="task in editing_object.tasks" :task="task"></Task>
      </tab>
    </tabs>
</div>
</div>
{% endblock %}

{% block project_javascript %}
<script src="{% static 'jqTree/tree.jquery.js' %}" charset="utf-8"></script>
<script src="{% static 'showdown/dist/showdown.min.js' %}" charset="utf-8"></script>
<script src="{% static 'simplemde/dist/simplemde.min.js' %}" charset="utf-8"></script>
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'scripts/jquery.rest.js' %}"></script>

{% compress js %}
<script type="module" src="{% static 'scripts/game_design.js' %}"></script>
<script>
set_nodes({{nodes|safe}})
set_project({{project_dict|safe}})
console.log({{nodes|safe}})
</script>
{% endcompress %}
<script type="text/javascript">


</script>
{% endblock %}
