{% extends 'views/project_base.html' %}
{% load staticfiles %}
{% load compress %}
{% load user_tags %}

{% block project_css %}
<link rel="stylesheet" href="{% static 'jqTree/jqtree.css' %}">
<link rel="stylesheet" href="{% static 'simplemde/dist/simplemde.min.css' %}">
<link rel="stylesheet" href="{% static 'dragula.js/dist/dragula.min.css' %}">
<style media="screen">

.drag-container {
  width: 400px;
  margin: 0 auto;
}

.nested {
  border: dashed 1px;
}

.item {
  padding: 8px;
}

html, body, #app {
  height: 100%;
}


.CodeMirror {
height: 300px;

}
#element-viewer {
overflow-y: auto;
  height: 90vh;
  background-color: #FCFCFC;
}


</style>

<style media="screen">
  .editable-field:hover {
    background-color: #F9F9F9;

  }
  .editable-icon:hover {
    cursor: pointer;
  }
  .editable-icon {
    visibility: hidden;
  }
  .editable-field {
    padding: 2px;
  }
  .editable-field:hover .editable-icon {
    visibility: visible;
  }
  .vddl-list, .vddl-draggable {
    position: relative;
  }
  .vddl-list {
  min-height: 44px;
}
.vddl-dragging{
  opacity: 0.7;
}

.vddl-dragging-source {
  display: none;
}
</style>
{% endblock %}

{%  block project_content %}
<div class="columns">
    <div class="column tovue" v-bind:class="[viewing_node ? 'is-6' : 'is-12']">
        <div v-for="(node, index) in nodes">
          <tree-item :callback="item_selected" :key="node.id" :node="node" :nodes="nodes" :index="index"></tree-item>
      </div>
    </div>
    <div v-if="viewing_node" class="column tovue" id="element-viewer" style="padding-right: 2%;"  style="background-color: #F9F9F9; overflow: auto;">

      <div id="design-element-toolbar" class="level">
        <div class="level-left">
            <editable-input v-for="property in property_list" :resource_type="resource_type"  v-bind:property="property" v-bind:editing_object="editing_object" v-bind:key="property.name"></editable-input>
        </div>
        <div class="level-right">
          <div class="level-item">
            <a class="button" id="design-element-edit">Edit</a>
          </div>
        </div>
      </div>

      <div class="content" id="display-description">
        <vue-markdown>[[editing_object.description]]</vue-markdown>
      </div>
      <div id="description-editor-wrapper" class=" content">
        <textarea class="" id="description-editor">
        </textarea>
        <a class="button is-primary" id="description-save-button">Save</a>
      </div>

    </div>
</div>
{% endblock %}

{% block project_javascript %}
<script src="{% static 'jqTree/tree.jquery.js' %}" charset="utf-8"></script>
<script src="{% static 'showdown/dist/showdown.min.js' %}" charset="utf-8"></script>
<script src="{% static 'simplemde/dist/simplemde.min.js' %}" charset="utf-8"></script>
{% compress js %}
<script  type="module" >
import Vddl from 'vddl';
import Vue from "vue";
import VueMarkdown from 'vue-markdown'
  $(function() {

    function getNodeById(id, node){
        var reduce = [].reduce;
        function runner(result, node){
            if(result || !node) return result;
            return node.id === id && node || //is this the proper node?
                runner(null, node.children) || //process this nodes children
                reduce.call(Object(node), runner, result);  //maybe this is some ArrayLike Structure
        }
        return runner(null, node);
    }

    Vue.use(Vddl);
    Vue.use(VueMarkdown);
    var tree_data = {{nodes|safe}}
    console.log(tree_data)

    Vue.component('tree-item', {
    data: function () {
      return {

      }
    },
    props: ["node", "nodes", "index", "callback"],
    delimiters: ["[[","]]"],
    template: '<vddl-draggable :selected="callback" class="panel__body--item" :key="node.id" :draggable="node" :index="index" :wrapper="nodes" effect-allowed="move"> <details class="box"> <summary> List [[node.name]] </summary> <vddl-list :list="node.children" :horizontal="false"> <tree-item v-for="(child, c_index) in node.children" :callback="callback" :index="c_index" :nodes="node.children" :key="child.id" :node="child"> </tree-item> <vddl-placeholder class="red">Custom placeholder</vddl-placeholder> </vddl-list> </details> </vddl-draggable>',
  });


    Vue.component('editable-input', {
    data: function () {
      return {
        editing_input: false,
        input_value: ""
      }
    },
    props: ["property", "editing_object", "resource_type"],
    delimiters: ["[[","]]"],
    template: '<div class="editable-field"> <p> <strong>[[property.display_name]]</strong> <span class="icon editable-icon" @click="enableEditing"> <i class="fa fa-pencil "> </i> </span> </p><div v-if="!editing_input" class="content"> [[getFieldValueFromEditingObject(property.field)]] </div><input v-if="editing_input" ref="user_input" v-model="input_value" class="input" type="text" placeholder="Text input" v-on:keyup.enter="saveEdit" v-on:keyup.esc="disableEditing"> <p v-if="editing_input" class="has-text-right is-size-7"> Enter to save | ESC to cancel </p></div>',
    methods: {
      enableEditing: function(){
        this.editing_input = true;
        this.input_value = this.editing_object;
      },
      getFieldValueFromEditingObject: function(field_name) {
        return this.editing_object[field_name]
      },
      disableEditing: function(){
        this.editing_input = false;
        this.property.value = this.property.pre_edit_value
      },
      saveEdit: function(){
        // However we want to save it to the database
        var client = new $.RestClient('/api/', {"ajax": ajaxOption});
        console.log(this.resource_type)
        client.add('resource', {stringifyData: true, url:this.resource_type})
        var update = {}
        this.editing_object[this.property.field] = this.input_value
        update = this.editing_object
        client.resource.update(this.editing_object.id, update)
        this.editing_input = false;
      }
    }
  });


    var app = new Vue({
      el: '#project-app',
      delimiters: ["[[","]]"],
      components: {
        VueMarkdown
      },
      methods: {
        item_selected : function(event) {
          this.select_node(event.id)
        },
        select_node : function(node_id) {
          console.log("UWU")
          this.viewing_node = true
          this.editing_object = getNodeById(node_id, this.nodes)
        },
      },
      data: {
        editing_object: [],
        property_list: [{
          "display_name": "Name",
          "field": "name",
        }],
        "nodes": {{nodes|safe}},
        "selected_node": 0,
        "resource_type": "design_element",
        "viewing_node": false,
        "lists": {
          "A": [
            {
              "id": 1,
              "label": "Item A1"
            },
            {
              "id": 2,
              "label": "Item A2"
            },
          ]
          }
      },
    })
    var client = new $.RestClient('/api/', {"ajax": ajaxOption});
    client.add("design_element", {stringifyData: true})


/*    $('#tree1').tree({
        data: tree_data,
        dragAndDrop: true,
    });
    $('#tree1').on(
    'tree.move',
    function(event) {
        event.preventDefault();
        event.move_info.do_move();
        console.log('moved_node', event.move_info.moved_node);

        // Parent changed!!!!

        console.log($.isEmptyObject(event.move_info.moved_node.parent.id))
        if (event.move_info.moved_node.parent.id === parseInt(event.move_info.moved_node.parent.id)) {
          url = "/api/design_element/" + event.move_info.moved_node.parent.id + "/"
          client.design_element.update(event.move_info.moved_node.id, {parent: url})

        } else {
        client.design_element.update(event.move_info.moved_node.id, {parent: null})

        }



    }
);
*/
var simplemde = new SimpleMDE({ element: $("#description-editor")[0] });
var current_design_element = []
// bind 'tree.click' event

function edit_current_element() {
  simplemde.value(current_design_element.description)
  $("#display-description").addClass("is-hidden")
  $("#description-editor-wrapper").removeClass("is-hidden")
  simplemde.codemirror.refresh();
}

function finish_editing() {
  $("#display-description").removeClass("is-hidden")
  $("#description-editor-wrapper").addClass("is-hidden")
}

$('#tree1').on(
    'tree.click',
    function(event) {
      client.design_element.read(event.node.id).done(function (data){
        var converter = new showdown.Converter()
        var html = converter.makeHtml(data.description);
        $("#display-description").html(html);
        current_design_element = data
        app.edit_object("design_element", data)

        $("#design-element-toolbar").removeClass("is-hidden");
      });

    }
);

$("#design-element-edit").click( function(event) {
    edit_current_element()
})



$("#description-save-button").click( function(event) {
  client.design_element.update(current_design_element.id, {description: simplemde.value()})
  current_design_element.description = simplemde.value()
  var converter = new showdown.Converter()
  var html = converter.makeHtml(current_design_element.description);
  $("#display-description").html(html);
  finish_editing()
})

});



</script>
{% endcompress %}
<script type="text/javascript">


</script>
{% endblock %}
