{% extends 'views/project_base.html' %}
{% load bulma_tags %}
{% load staticfiles %}
{% block project_css %}
{% load compress %}

<link rel="stylesheet" href="{% static "kanban/jkanban.min.css" %}">
<style>
  .header-pending {
    background-color: #AAAAAA;
    color: #FFF;
  }
  .header-in-progress {
    background-color: #2780E3;
    color: #FFF;
  }
  .header-testing {
    background-color: #E9262B;
    color: #FFF;
  }
  .header-completed {
    background-color: #3FB618;
    color: #FFF;
  }
  #task-list {
    margin: 0;
    padding:0;
  }
  .kanban-board {
    margin: 0;
  }
  .section {
    padding: 0;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
  }
</style>
{% endblock %}

{% block project_content %}
<div class="column is-paddingless" id="task-list-app">
  <section class="section">
    <div class="container">
      <h1 class="title">Section</h1>
      <h2 class="subtitle">
        A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
      </h2>
    </div>
  </section>
  <section class="section">
    <div class="container" id="task-list">
      <kanban :categories="categories"></kanban>
    </div>
  </section>

</div>
{% endblock %}

{% block project_javascript %}
<script type="text/javascript" src="{% static "kanban/jkanban.min.js" %}" charset="utf-8"></script>
{% compress js %}
<script type="module" src="{% static "scripts/task_list.js" %}" charset="utf-8"></script>

<script type="text/javascript">



set_tasks({{tasks|safe}})


</script>

{% endcompress %}

{% endblock project_javascript %}
