{% extends 'views/project_base.html' %}
{% load bulma_tags %}
{% load staticfiles %}
{% block project_css %}
<link rel="stylesheet" href="{% static "kanban/jkanban.min.css" %}">
<style>
  .header-pending {
    background-color: #AAAAAA;
    color: #FFF;
  }
  .header-in-progress {
    background-color: #2780E3;
    color: #FFF;
  }
  .header-testing {
    background-color: #E9262B;
    color: #FFF;
  }
  .header-completed {
    background-color: #3FB618;
    color: #FFF;
  }
  #task-list {
  }
</style>
{% endblock %}

{% block project_content %}
<div class="column">
<div class="container" id="task-list">

</div>
</div>
{% endblock %}

{% block project_javascript %}
<script type="text/javascript" src="{% static "kanban/jkanban.min.js" %}" charset="utf-8"></script>

<script type="text/javascript" type="module">

var starting_tasks = {{tasks|safe}}

var boards2 = [
    {
        "id"    : "board-pending",               // id of the board
        "title" : "Pending",              // title of the board
        "class" : "header-pending",        // css classes to add at the title
        "dragTo": ['another-board-id'],   // array of ids of boards where items can be dropped (default: [])
        "item"  : [                           // item of this board
        ]
    },
    {
        "id"    : "board-in-progress",               // id of the board
        "title" : "In Progress",              // title of the board
        "class" : "header-in-progress",        // css classes to add at the title
        "dragTo": ['another-board-id'],   // array of ids of boards where items can be dropped (default: [])
        "item"  : [                           // item of this board
        ]
    },
    {
        "id"    : "board-testing",               // id of the board
        "title" : "Testing",              // title of the board
        "class" : "header-testing",        // css classes to add at the title
        "dragTo": ['another-board-id'],   // array of ids of boards where items can be dropped (default: [])
        "item"  : [                           // item of this board
        ]
    },
    {
        "id"    : "board-completed",               // id of the board
        "title" : "Completed",              // title of the board
        "class" : "header-completed",        // css classes to add at the title
        "dragTo": ['another-board-id'],   // array of ids of boards where items can be dropped (default: [])
        "item"  : [                           // item of this board
        ]
    },
];

var kanban = new jKanban({
    element         : '#task-list',                                           // selector of the kanban container
    responsivePercentage: true,                                    // if it is true I use percentage in the width of the boards and it is not necessary gutter and widthBoard
    boards          : boards2,                                           // json of boards
    dragBoards      : true,                                         // the boards are draggable, if false only item can be dragged
    addItemButton   : false,                                        // add a button to board for easy item creation
    buttonContent   : '+',                                          // text or html content of the board button
    click           : function (el) {},                             // callback when any board's item are clicked
    dragEl          : function (el, source) {},                     // callback when any board's item are dragged
    dragendEl       : function (el) {},                             // callback when any board's item stop drag
    dropEl          : function (el, target, source, sibling) {},    // callback when any board's item drop in a board
    dragBoard       : function (el, source) {},                     // callback when any board stop drag
    dragendBoard    : function (el) {},                             // callback when any board stop drag
    buttonClick     : function(el, boardId) {}                      // callback when the board's button is clicked
})

function generate_board_item(task) {
  var item = {
      "id"    : task.id,
      "title" : task.title
  }
  return item
}

var stage_dict = {
  "PLANNED": "board-pending",
  "IN_PROGRESS": "board-in-progress",
  "TESTING": "board-testing",
  "COMPLETED": "board-completed",
}

$(document).ready(function() {

  for (var task_info_id in starting_tasks) {
    var task_info = starting_tasks[task_info_id]
    var board_item = generate_board_item(task_info.fields)
    kanban.addElement(stage_dict[task_info.fields.stage], board_item)
  }
  /*
  var client = new $.RestClient('/api/');

  client.add('project');
  // OR simply:
  client.project.read(1).done(function (data){
    for (var task_id in data.tasks) {
      var task = data.tasks[task_id]
      var board_item = generate_board_item(task)
      kanban.addElement(stage_dict[task.stage], board_item)
    }
  });*/
});

</script>
{% endblock project_javascript %}
